html, body {
    height: 100%;
    overflow: hidden;
    font-size: 15px;
}

#footer {
    margin-top: 40px;
    margin-bottom: 10px;
}

#big {
    background-color: #191970;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

.glass_container {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    padding: 20px;
}

.nav_buttons {
    background-color: #191970; 
    color: white;
}

.itemName {
    color: white;
    font-size: 20px;
}

.stats {
    color: white;
    margin-top: 10px;
}

.borderless td, .borderless th {
    border: none !important;
}

table {
    width: 100%;
}

paper-card {
    width: 100%;
    margin-top: 30px;
}

.card-content {
    font-size: 20px;
}

.card-content table {
    margin-bottom: 10px;
}

iron-icon.iron-icon-0 {
    width: 18px;
    height: 18px;
}

.delta_green {
    color: green;
}

.delta_red {
    color: red;
}

/* slideInUp taken from https://github.com/daneden/animate.css */
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
#itemImpactCard {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
#avgCompletionCard {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
#winRateCard {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}
#itemRankCard {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}
#championBenefitCard {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
}
#championFrequentCard {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}
#pickRateCard {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
}