html, body {
    height: 100%;
    overflow: hidden;
    font-size: 15px;
}

#footer {
    margin-top: 40px;
    margin-bottom: 10px;
}

#big {
    background-image: url("/static/img/background.jpg");
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

@media screen and (max-width: 640px){
    body {
        /* option 1: remove background altogether */
        background: #fff;

        /* option 2: serve a much smaller background */
        /*background: #ABCDEF url(muchSmallerBackground.jpg);*/
    }
} 

.glass_container {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    padding: 20px;
}

.nav_buttons {
    /*background-color: #191970; */
    color: white;
}

.itemName {
    font-size: 20px;
}

.borderless td, .borderless th {
    border: none !important;
}

table {
    width: 100%;
}

paper-card {
    width: 100%;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.card-content {
    font-size: 20px;
}

.card-content table {
    margin-bottom: 10px;
}

iron-icon.iron-icon-0 {
    width: 18px;
    height: 18px;
}

.icon {
    width:50px; 
    height:auto;
}

.delta_green {
    color: green;
}

.delta_red {
    color: red;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}