/*****************************************************
main.css
- Main css page for DOMs being used in multiple pages
******************************************************/

/* CSS for everything */
html, body {
    height: 100%;
    overflow: hidden;
    font-size: 15px;
}

/* Footer positioned at the bottom of the page */
#footer {
    margin-top: 40px;
    margin-bottom: 10px;
}

/* Main div that everything is contained in */
#big {
    background-image: url("/static/img/background.jpg");
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

/* Navigational buttons on the header */
.nav_buttons {
    color: white;
}

/* Glass container used for about.html */
.glass_container {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    width: 100%;
}

/* Standard font size for most item names */
.itemName {
    font-size: 20px;
}

/* Makes sure that borderless tables have no borders */
.borderless td, .borderless th {
    border: none !important;
}

table {
    width: 100%;
}

/* Stying for the cards */
paper-card {
    width: 100%;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

/* Standard font size for cards */
.card-content {
    font-size: 20px;
}

/* Provides some space below tables so cards are easier 
    to read */
.card-content table {
    margin-bottom: 10px;
}

/* Applied to iron-icons (ex: up and down arrows) */
iron-icon.iron-icon-0 {
    width: 18px;
    height: 18px;
}

/* Applied to most icons of champions and items */
.icon {
    width:50px; 
    height:auto;
}

/* Classes to be applied to rank changes */
.delta_green {
    color: green;
}

.delta_red {
    color: red;
}

/* Displays up-down arrows next to each table header
   Shows the user that the table is sortable */
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}