<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/animations.css">
    <script src="/static/js/sorttable.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="import" href="/static/bower_components/polymer/polymer.html">
    <link rel="import" href="/static/bower_components/paper-card/paper-card.html">
    <link rel="import" href="/static/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/static/bower_components/iron-icon/iron-icon.html">
    <link rel="import" href="/static/bower_components/iron-icons/iron-icons.html">
    <style type="text/css">
        td {
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid" id="big">
        <div id='header'></div>
        <div class="container-fluid" style="margin-top:30px">
            <paper-card id="mainCard" style="margin-top:0px;">
                <div class="table-responsive card-content" style="margin-top:20px">
                    <table class="table sortable">
                        <thead class="text-center">
                            <tr class="text-center">
                                <th>Rank</th>
                                <th class="text-center">Item</th>
                                <th>Old Win-rate</th>
                                <th>New Win-rate</th>
                                <th>Old Popularity</th>
                                <th>New Popularity</th>
                                <th>Overall Rank Change</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% block content %}
                            {% for item in item_list %}
                            <tr>
                                <td>{{item.rank}}</td>
                                <td>
                                    <img src="/static/img/511/{{item.id}}.png" style="width:30px; height:auto" />
                                    <a href="/pages/itemPage/{{item.id}}">{{item.name}}</a>
                                </td>
                                <td>{{item.wr511}}</td>
                                <td>{{item.wr514}}</td>
                                <td>{{item.pr511}}</td>
                                <td>{{item.pr514}}</td>
                                <td>{{item.rankChange}}</td>
                            </tr>
                            {% endfor %}
                        {% endblock %}
                    </table>
                </div>
            </paper-card>
        </div>
        <div id="footer" style="width:100%; position:absolute; bottom:0; left:0;"></div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script>
        $('#header').load('/static/header.html');
        $('#footer').load('/static/footer.html');
    </script>
</body>

</html>
