<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/animations.css">
    <!-- Bootstrap core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/xstatic/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="import" href="/static/bower_components/polymer/polymer.html">
    <link rel="import" href="/static/bower_components/paper-card/paper-card.html">
    <link rel="import" href="/static/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/static/bower_components/iron-icon/iron-icon.html">
    <link rel="import" href="/static/bower_components/iron-icons/iron-icons.html">
    <style type="text/css">
        td {
            heigth: 60px;
        }
    </style>
</head>
<body>
    <div class="container-fluid" id="big">
        <div id='header'></div>
        <div class="container-fluid" style="margin-top:30px">
            <paper-card id="mainCard" style="margin-top:0px;">
                <div class="table-responsive card-content" style="margin-top:20px">
                    <table class="table">
                        <thead class="text-center">
                            <tr class="text-center">
                                <th>Rank</th>
                                <th class="text-center">Item</th>
                                <th>Old Win-rate</th>
                                <th>New Win-rate</th>
                                <th>Old Popularity</th>
                                <th>New Popularity</th>
                                <th>Overall Rank Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <img src="/static/img/abyssal-scepter.gif" style="width:30px; height:auto" />
                                    <a href="/pages/itemPage/3001">Abyssal Scepter</a>
                                </td>
                                <td>20%</td>
                                <td>50%</td>
                                <td>40%</td>
                                <td>25%</td>
                                <td>+ 2</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <img src="/static/img/abyssal-scepter.gif" style="width:30px; height:auto" />
                                    <a href="/pages/itemPage/3001">Mejai's Soulstealer</a>
                                </td>
                                <td>20%</td>
                                <td>50%</td>
                                <td>40%</td>
                                <td>12%</td>
                                <td>- 1</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <img src="/static/img/abyssal-scepter.gif" style="width:30px; height:auto" />
                                    <a href="/pages/itemPage/3001">Rabadon's Deathcap</a>
                                </td>
                                <td>50%</td>
                                <td>20%</td>
                                <td>25%</td>
                                <td>10%</td>
                                <td>- 1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </paper-card>
        </div>
        <div id="footer" style="width:100%; position:absolute; bottom:0; left:0;"></div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script>
        $('#header').load('/static/header.html');
        $('#footer').load('/static/footer.html');
    </script>
</body>

</html>
